*{
    padding: 0px;
    margin: 0px;
    font-family: cursive;
}


/*------------------------ setting up menu----------------------------- */
h2{
    margin: auto;
    color: white;
}
ul{
    display: flex;
    align-items: center;
}
.link{
    text-decoration: none;
    padding: 0px 10px;
    color: white;
    border-radius: 10px;
}
.link:hover{
    background-color: white;
    color:black;
}


.link:active{
    background-color: black;
    color: white;
}
#navbar{
    display: flex;
    background-color: #b96868;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*------------------- making the menu fixed --------------------------*/
#navcontainer{
    position: sticky;
    top: 10px;
}

/* ------------------setting welcome poster ----------------------*/
#image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    background-image: url("../logos and images/poster.jpg");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#image p{
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 10px;
}
#image p strong{
color: #b96868;
}
#image p:hover{
    color: white;
    background-color: black;
}
/*----------------- setting background for page---------------- */
body{
    background-image: url("../logos and images/bg.jpg");
    background-size: cover;
}
/*------------------ setting popular items organised------------- */
#popitem{
    display: flex;
    margin: 0px 50px;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
}
.item{
    padding: 23px 29px;
    border: 1px solid #b96868;
    text-align: center;
    /* border-radius: 10px; */
    background-color: #ffffd1;
}
.item:hover{
    border: 2px solid white;
    color: #b96868;
}
#hed{
    padding: 3px 10px;
    /* border-radius: 20px; */
    border: 1px solid black;
    background-color: white;
    display: inline;
}
.item img{
    display: block;
    height: 30vh;
    width: 176.20px;
    border: 2px solid #b96868;
}
.item img:hover{
    border: 5px solid rgb(86, 57, 112);
}
.pan{
    margin: auto;
}
.textcon{
    display: flex;
    height: 10vh;
    align-items: center;
    font-size: 30px;
}
#text{
    padding: 20px;
}

/* ---------------------setting the text---------------------- */
.a1{
    border: 1px solid;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    background-color: #ffffd1;
}
.a1 h3{
    margin: 10px 0px;
}
#term{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: none;
}

/*------------------------------ ending-----------------------*/
.endcon{
    display: flex;
    background-color: rgb(50, 50, 116);
    padding: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logos{
    padding: 20px;
}
.logos img{
    height: 30vh;
}
.logos span{
    display: block;
    color: white;
}
.logos strong{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    margin: 20px;
    color: white;
}
#endtext header{
    display: inline;
    color: black;
    padding: 0px 8px;
    border-radius: 10px;
    background-color: white;
}